@model SmartGarden.Models.LightSensorViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Light Sensor";
}

@{
    const int minimValue = 500;
    const int min = 0;
    const int max = 1023;
}

@section scripts{
    <script>
    var ctx = $('#myChartL');
        new Chart(ctx, {
            "type": "line",
            "data": {
                "labels": @JsonConvert.SerializeObject(Model.Sensors.Select(s => Convert.ToInt32(s.Id)).ToArray()),
                "datasets": [{ "label": "Light Sensor Dataset", "data": @JsonConvert.SerializeObject(Model.Sensors.Select(s => Convert.ToInt32(s.Value)).ToArray()), "fill": false, "borderColor": "#F26419", "lineTension": 0.1 }]
            },
            "options": {}
        });
    </script>
}

<div class="container-fluid pageDiv">
    <div class="title">
        <h1> @ViewData["Title"] </h1>
        <br />
        <h4>Current date:</h4>
        <h6>@Model.CurrentDate</h6>
    </div>

    <div class="tableDiv">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Name of sensor</th>
                    <th>Current value</th>
                    <th>Date of registration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewData["Title"]</td>
                    <td>@Model.Sensor.Value</td>
                    <td>@Model.Sensor.CurrentDate</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tableDiv">
        <h6>Value range:</h6>
        @if (Model.Sensor.Value > minimValue)
        {
    <p>
        @min  <progress class="first" value="@Convert.ToInt32(Model.Sensor.Value)" max="@max"></progress> @max
    </p>

        }
        else
        {
    <p>
        @min  <progress class="second" value="@Convert.ToInt32(Model.Sensor.Value)" max="@max"></progress> @max
    </p>
        }

    </div>

    <div class="chart">
        <canvas id="myChartL"></canvas>

    </div>
</div>
